  
<html>
  <head>
    <title>Sleep Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}?v=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      var recording = {{ recording }};
      var continuous;
    </script>
    <style>
      {% if recording == 0 %}
      .notRecording {
        display: block;
      }
      .recording {
        display: none;
      }
      {% else %}
      .notRecording {
        display: none;
      }
      .recording {
        display: block;
      }
      {% endif %}
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <!-- Dropdown Structure -->
    <ul id='filedropdown' class='dropdown-content'>
      <li><a onclick="initiate_old('latest', 'latest')">Latest</a></li>
      {% for file in fileList %}
      <li><a onclick="initiate_old('{{ file["file"] }}', '{{ file["string"] }}')">{{ file["string"] }}</a></li>
      {% endfor %}
    </ul>
    <!-- sideDropdown Structure -->
    <ul id='sidefiledropdown' class='dropdown-content'>
      <li><a onclick="drawChart()">Latest</a></li>
      {% for file in fileList %}
      <li><a onclick="initiate_old('{{ file["file"] }}', '{{ file["string"] }}')">{{ file["string"] }}</a></li>
      {% endfor %}
    </ul>
    <nav>
      <div class="nav-wrapper deep-purple darken-4">
        <a class="brand-logo">Sleep Analytics</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="notRecording"><a onclick="start_recording()"><i class="material-icons left">create</i>Start Recording</a></li>
          <li class="recording"><a onclick="stop_recording()"><i class="material-icons left">block</i>Stop Recording</a></li>
          <!-- Dropdown Trigger -->
          <li><a class='dropdown-trigger' data-target='filedropdown'>Select Data<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-menu">
      <li class="notRecording"><a onclick="start_recording()"><i class="material-icons left">create</i>Start Recording</a></li>
      <li class="recording"><a onclick="stop_recording()"><i class="material-icons left">block</i>Stop Recording</a></li>
      <!-- Dropdown Trigger -->
      <li><a class='dropdown-trigger' data-target='sidefiledropdown'>Select Data<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card white">
            <div class="card-content">
              <span class="card-title">Introduction</span>
              <p>This application aims to help the user determine factors that are effecting their sleep.  
                Sleep is recognised by the number of movements in a minute (ie. A high number of movements would indicate the user is likely awake). 
                Figure 1 shows the number of movements over the recorded time to try help the user understand what time they fell asleep/woke up.  The other charts aim to show any relationships between a factor that may affect their sleep and movements per minute by displaying this data in a scatter plot.  The switch helps to compare data over time where no clear relationship is present.</p>
            </div>
          </div>
        </div>
        <div class="col s12 recording">
            <div class="card white">
              <ul class="collection with-header">
                <li class="collection-header"><h4>Current Sensor Readings:</h4></li>
                <li class="collection-item">millis: <span id="millis"></span></li>
                <li class="collection-item">stamp: <span id="stamp"></span></li>
                <li class="collection-item">datetime: <span id="datetime"></span></li>
                <li class="collection-item">Motion Sensor: <span id="motion"></span></li>
                <li class="collection-item">Current temperature: <span id="temperature"></span>&#8451</li>
                <li class="collection-item">Current humidity: <span id="humidity"></span>%</li>
                <li class="collection-item">Current light level: <span id="lightlevel"></span>lx</li>
                <li class="collection-item">Current sound level: <span id="soundlevel"></span></li>
              </ul>
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col s12">
            <div class="card white">
              <h5 class="center-align" style="padding-top: 4px; padding-bottom: 4px;">Charts for: <span id="chart-heading"></span></h5>
            </div>
          </div>
          <div class="col s12">
            <div class="card white">
              <div class="chartDiv" id="motionTimeChart"></div>
            </div>
          </div>
          <div class="col s12">
            <div class="card white">
              <h6 class="center-align" style="padding-top: 4px; padding-bottom: 4px;">Toggle Figures 2-4 between Scatter and Line Charts: </h6>
              <div class="switch center-align" style="padding-top: 2px; padding-bottom: 6px;">
                <label>
                  Scatter
                  <input type="checkbox" id="chartToggle">
                  <span class="lever"></span>
                  Line
                </label>
              </div>
            </div>
          </div>
          <div class="col m12 l6">
            <div class="card white">
              <div class="chartDiv" id="motionTempChart"></div>
            </div>
          </div>
          <div class="col m12 l6">
            <div class="card white">
              <div class="chartDiv" id="motionHumChart"></div>
            </div>
          </div>
          <div class="col m12 l6">
            <div class="card white">
              <div class="chartDiv" id="motionLuxChart"></div>
            </div>
          </div>
          <div class="col m12 l6">
            <div class="card white">
              <div class="chartDiv" id="motionVolChart"></div>
            </div>
          </div>
        </div>
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/chartScript.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/refreshValues.js')}}?v=1"></script>
    <script src="{{ url_for('static', filename='js/buttonHandler.js')}}?v=1"></script>
  </body>
</html>
